:root {
   --pixel-size: 6;
   --og-size: 48px;
}

.dog {
   width: calc(var(--og-size) * var(--pixel-size));
   height: calc(var(--og-size) * var(--pixel-size));
   overflow: hidden; 
   position: relative;
   margin: 0em auto;
}

.dog_spritesheet {
   animation: moveSpritesheet 1s steps(4) infinite;
   width: calc(192px * var(--pixel-size));
   height: calc(240px * var(--pixel-size));
   position: absolute;
}
.interactiveArea {
   margin-top: 100px;
   margin-left: 91px;
   width: calc(31px * var(--pixel-size));
   height: calc(27px * var(--pixel-size));
   position: absolute;
   /* background-color: rgba(255, 0, 0, 0.5); */
}
.pixelart {
   image-rendering: pixelated;
}
.happiest {
   top: calc(0 * var(--pixel-size));
}
.happy {
   top: calc((var(--og-size) * -1) * var(--pixel-size));
}
.neutral {
   top: calc((var(--og-size) * -2) * var(--pixel-size));
}
.sad {
   top: calc((var(--og-size) * -3) * var(--pixel-size));
}
.saddest {
   top: calc((var(--og-size) * -4) * var(--pixel-size));
}
@keyframes moveSpritesheet {
   from {
      transform: translate3d(0px,0,0)
   }
   to {
      transform: translate3d(-100%,0,0)
   }
}
.smoochFrame {
   position: absolute;
   width: 32px;
   height: 32px;
   transform: translate(-50%, -50%); /* Center the element on the cursor */
   overflow: hidden; 
}

.smoochSpriteSheet {
   height: calc(5px * var(--pixel-size));
   position: absolute;
}

.heartFrame {
   margin-top: 40px;
   margin-left: 160px;
   position: absolute;
   width: 42px;
   height: 36px;
   overflow: hidden; 
}

.heartSpriteSheet {
   animation: moveSpritesheet 1s steps(4) infinite;
   height: calc(6px * var(--pixel-size));
   width: calc(28px * var(--pixel-size));
   position: absolute;
   opacity: 0;
}

.happiness-bar-container {
  position: relative;
  margin: 3em auto 0em;
  height: 44px;
  width: calc(24px * var(--pixel-size));
}

.happiness-bar-spritesheet {
  position: absolute;
  width: calc(32px * var(--pixel-size)); /* Max width of the health bar */
}

.happiness-bar-fill {
   margin-top: 16px;
   margin-left: 36px;
   position:absolute;
   width: 20%; /* Initial fill (full health) */
   height: 7px;
   background-color: #EECFCC; 
   transition: width 0.3s ease-in-out; /* Smooth transition for width changes */
}

.choice-row {
   margin: 2em auto;
   width: 200px;
   display: flex;
   justify-content: space-around;
}