:root {
   --pixel-size: 6;
   --og-size: 48px;
}

.dog {
   width: calc(var(--og-size) * var(--pixel-size));
   height: calc(var(--og-size) * var(--pixel-size));
   overflow: hidden; 
   position: relative;
   margin: 4em auto;
}

.dog_spritesheet {
   animation: moveSpritesheet 1s steps(4) infinite;
   width: calc(192px * var(--pixel-size));
   height: calc(240px * var(--pixel-size));
   position: absolute;
}
.interactiveArea {
   margin-top: 100px;
   margin-left: 91px;
   width: calc(31px * var(--pixel-size));
   height: calc(27px * var(--pixel-size));
   position: absolute;
   /* background-color: rgba(255, 0, 0, 0.5); */
}
.pixelart {
   image-rendering: pixelated;
}
.happiest {
   top: calc(0 * var(--pixel-size));
}
.happy {
   top: calc((var(--og-size) * -1) * var(--pixel-size));
}
.neutral {
   top: calc((var(--og-size) * -2) * var(--pixel-size));
}
.sad {
   top: calc((var(--og-size) * -3) * var(--pixel-size));
}
.saddest {
   top: calc((var(--og-size) * -4) * var(--pixel-size));
}
@keyframes moveSpritesheet {
   from {
      transform: translate3d(0px,0,0)
   }
   to {
      transform: translate3d(-100%,0,0)
   }
}

.heartFrame {
   position: absolute;
   width: 24px;
   height: 24px;
   overflow: hidden; 
}

.heartSpriteSheet {
   animation: moveSpritesheet 1s steps(4) infinite;
   height: calc(24px * var(--pixel-size));
   position: absolute;
}

.loveFrame {
   position: absolute;
   width: calc((var(--og-size)/2) * var(--pixel-size));
   height: calc((var(--og-size)/2) * var(--pixel-size));
   overflow: hidden; 
}

.loveSpriteSheet {
   animation: moveSpritesheet 1s steps(4) infinite;
   height: calc(var(--og-size) * var(--pixel-size));
   position: absolute;
}

.happiness-bar-container {
  width: 200px; /* Max width of the health bar */
  height: 20px;
  background-color: #ddd; /* Background for empty health */
  border: 1px solid #333;
  border-radius: 5px;
  overflow: hidden; /* Ensures the fill stays within the container */
}

.happiness-bar-fill {
  width: 0%; /* Initial fill (full health) */
  height: 100%;
  background-color: #0f0; /* Green for health */
  transition: width 0.3s ease-in-out; /* Smooth transition for width changes */
}