:root {
   --pixel-size: 6;
   --og-size: 48px;
}

.dog {
   width: calc(var(--og-size) * var(--pixel-size));
   height: calc(var(--og-size) * var(--pixel-size));
   overflow: hidden; 
   position: relative;
   margin: 4em auto;
}

.dog_spritesheet {
   animation: moveSpritesheet 1s steps(4) infinite;
   width: calc(192px * var(--pixel-size));
   height: calc(240px * var(--pixel-size));
   position: absolute;
}
.interactiveArea {
   margin-top: 100px;
   margin-left: 91px;
   width: calc(31px * var(--pixel-size));
   height: calc(27px * var(--pixel-size));
   position: absolute;
   /* background-color: rgba(255, 0, 0, 0.5); */
}
.pixelart {
   image-rendering: pixelated;
}
.happiest {
   top: calc(0 * var(--pixel-size));
}
.happy {
   top: calc((var(--og-size) * -1) * var(--pixel-size));
}
.neutral {
   top: calc((var(--og-size) * -2) * var(--pixel-size));
}
.sad {
   top: calc((var(--og-size) * -3) * var(--pixel-size));
}
.saddest {
   top: calc((var(--og-size) * -4) * var(--pixel-size));
}
@keyframes moveSpritesheet {
   from {
      transform: translate3d(0px,0,0)
   }
   to {
      transform: translate3d(-100%,0,0)
   }
}
.click-effect {
   position: absolute;
   width: 30px;
   height: 30px;
   /* background-color: rgba(255, 0, 0, 0.7); /* Red with some transparency */
   /* border-radius: 50%; */ 
   transform: translate(-50%, -50%); /* Center the element on the cursor */
   animation: pulseEffect 0.6s forwards;
}

@keyframes pulseEffect {
   0% {
      transform: translate(-50%, -50%) scale(0);
      opacity: 1;
   }
   100% {
      transform: translate(-50%, -50%) scale(2);
      opacity: 0;
   }
}